body{
  background-color#FFF
  margin: 0;
  padding: 0;
  padding-top: 30px;   
}

#cover{
  height: 900px;
  position: relative;
  top: 55px;
  width: 100%;
  background: url("image2.JPG") no-repeat center bottom;
  background-size: 1000px;
  background-attachment:scroll;
}

.navigation{
   background-color:rgba(225, 225, 255, 0.9);
   overflow-y: auto;
   position: fixed;
   left:0;
   top:0;
   text-align: center;
   width: 100%;
   z-index: 10000;
}

ul {
   padding: 0;
}

li {
    color: #14213D;
  display: inline-block;
  font-family:'Dancing Script',cursive;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

.cover-content{
    box-sizing: border-box;
    margin:0 auto;
    position: relative;
    text-align: center;
    top: 280 px;
    width: 70%;
}

h1 {
  color: #000;
  font-family:'Dancing Script', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}


h2 {
       {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}
 
h3 {
  color: #14213D;
  font-family:'Dancing Script', cursive;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.categories{
    background: #EEEFF1;
    box-sizing: border-box;
    width: 90%;
    margin:20px auto;
    padding:20px;
    text-align: center;
}

